body{
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height:100vh;
}
.img
{
    width: auto;
}
/*NAV BAR*/
header{
    position: relative;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

nav button{
    display: none;
}

.logo{
    height: 50px;
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
}

.nav-bar{
    display: flex;
    justify-content: right;
    list-style-type: none;
    margin-right: 30px;
    width: 100%;
    height: 100%;
}

.nav-bar li a{
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 0.8em;
    height: 100%;
    border-bottom: 3px solid transparent;
    display: flex;
    justify-items: center;
    align-items: center;

}

.nav-bar li{
    border-bottom: 3px solid transparent;
    text-align: center;
    align-items: center;
    margin-right: 20px;
    display: inline-block;
    justify-items: center;
    
    
    
}   

.nav-bar li.minha-selecao a{
    cursor: pointer;
}

.nav-bar li.minha-selecao a::before{
    content: "|";
    
    
}   

.nav-bar li:hover{
    border-bottom-color: #13d0ca;

}


/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}


/* minha selecao */

.mostrar {
    display: block !important;
}

.slideshow-container .areaPessoal{
    display: none;
    position: absolute;
    border-color: #cdcdcd;
    border-style: solid;
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    background-color: #fff;
    color: #323e48;
    text-align: left;
    letter-spacing: initial;
    width: 555px;
    right: 0;
    top: 0%;
}


.slideshow-container .areaPessoal .areaPessoal-header{
    padding: 20px;
    text-align: left;
}

.slideshow-container .areaPessoal .areaPessoal-header .bi-person{
    padding-right: 10px;
    font-size: 25px;
}

.slideshow-container .areaPessoal .areaPessoal-header .areaPessoal-close{
    background-color: transparent;
    border: 0 none;
    top: 13px;
    right: 20px;
    position: absolute;
    cursor: pointer;
    font-size: 35px;
}

.slideshow-container .areaPessoal .areaPessoal-conta{
    padding: 40px 10px 20px 35px;
    display: flex;
    float: left;
    width: 100%;
}

.slideshow-container .areaPessoal .areaPessoal-conta .areaPessoal-aceder p{
    font-weight: bold;
    font-size: 1.1em; 
    width: 65%;
}

.slideshow-container .areaPessoal .areaPessoal-conta .areaPessoal-aceder a{
    font-size: 12px;
}

.slideshow-container .areaPessoal .areaPessoal-conta .areaPessoal-aceder a:visited{
    color: #323e48;
}

.slideshow-container .areaPessoal .areaPessoal-criarConta{
    padding-left: 150px;
    font-size: 14px;
}

.slideshow-container .areaPessoal .areaPessoal-criarConta a{
    float: right;
    padding-top: 5px;
}

.slideshow-container .areaPessoal .areaPessoal-criarConta a:visited{
    color: #323e48;
}

.slideshow-container .areaPessoal .bi-person{
    padding-left: 20px;
    font-size: 25px;
}

.slideshow-container .areaPessoal .areaPessoal-selecao{
    padding: 40px 10px 20px 35px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #f7f7f7;
}

.slideshow-container .areaPessoal .areaPessoal-selecao .areaPessoal-selecaoTexto{
    font-size: 15px;

}


.slideshow-container .areaPessoal .areaPessoal-selecao .areaPessoal-selecaoContador{
    text-align: center;
    border-style: solid;
    height: 3em;
    position: relative;
    width: 15%;
    border-width: 2px;
    left: 50px;
}



.slideshow-container .areaPessoal .areaPessoal-footer{
    margin-bottom: 10px;
    width: 95%;
    display: flex;
    padding: 40px 10px 20px 35px;
}

.slideshow-container .areaPessoal .areaPessoal-footer .areaPessoal-footerTexto{
    font-size: 0.8em;
    width: 80%;
}


.slideshow-container .areaPessoal .areaPessoal-footer .areaPessoal-footerTexto a{
    color: #006e90;
    text-decoration: none;
}

.slideshow-container .areaPessoal .areaPessoal-footer .areaPessoal-footerTexto a:hover{
    text-decoration: underline;
}


.slideshow-container .areaPessoal .areaPessoal-footer .areaPessoal-footerTexto2{
    text-align: right;
    font-size: 0.8em; 
    padding-right: 20px;   
}

nav .mobile-mSelect{
    display: none;
}
/* FUNCIONALIDADE ADICIONAL*/

.financiamento{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.financiamento-container
{
    margin: auto;
    width: 900px;
    margin-bottom: 50px;
}

.financiamento-container h2{
    font-size: 2em;
    font-weight: bold;
    color: #13D0CA;
    text-align: center;
    margin-bottom: 50px;
}

.financiamento-valores{
    display: flex;
    flex-direction: column;
    
}
.financiamento-marca
{
    text-align:center;
}
.financiamento-modelo
{
    text-align:center;
}
.financiamento-1{
    text-align: center;
}

.financiamento-2{
    text-align: center;
}



.marca{
    display: none;
}

.modelo{
    display: none;
}

.calcularvalorfinal
{
    width: 100%;
    height: 50px;
    background-color: #13d0ca;
    color: white;
    border: 2px solid #13d0ca;
    font-size: 30px;
    cursor: pointer;
    border-radius: 20px;
}
.calcularvalorfinal:hover
{
    background-color: white;
    color: #13d0ca;
    border-radius: 0px;
}
.estados
{
    display: flex;
    justify-content: space-between;
}
.financiamento-container p
{
    font-size: 18px;
    font-weight: bolder;
 
}
.automovel-marca
{
    background-color: #f1f1f1;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #10cfc9;
    cursor: pointer;
}
.automovel-marca:hover
{
    height: 30px;
    border-radius: 0px;
}
.automovel-modelo
{
    background-color: #f1f1f1;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #10cfc9;
    cursor: pointer;
}
.automovel-modelo:hover
{
    height: 30px;
    border-radius: 0px;
}
.preço_aquisição
{
    background-color: #f1f1f1;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #10cfc9;
    cursor: pointer;
}
.preço_aquisição:hover
{
    height: 30px;
    border-radius: 0px;
}
.anoDa_matricula
{
    background-color: #f1f1f1;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #10cfc9;
    cursor: pointer; 
}
.anoDa_matricula:hover
{
    height: 30px;
    border-radius: 0px;
}
.Quilometragem
{
    background-color: #f1f1f1;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #10cfc9;
    cursor: pointer; 
}
.Quilometragem:hover
{
    height: 30px;
    border-radius: 0px;
}
.button_marcas
{
    width: 200px;
    height: 40px;
    background-color: #13d0ca;
    color: white;
    border: 2px solid #13d0ca;
    font-size: 25px;
    cursor: pointer;
}
.button_marcas:hover
{
    background-color: white;
    color: #13d0ca;
    cursor: pointer;
}
.button_modelo
{
    width: 200px;
    height: 40px;
    background-color: #13d0ca;
    color: white;
    border: 2px solid #13d0ca;
    font-size: 25px;
    cursor: pointer;
}
.button_modelo:hover
{
    background-color: white;
    color: #13d0ca;
    cursor: pointer;
}
.mau-estado
{
    background-color:#f1f1f1 ;
    padding: 10px;
    height: 200px;
    width: 150px;
    border-radius: 20px;
    border: 5px solid white;
    cursor: pointer;
}
.mau-estado:hover
{
    border: 5px solid #10cfc9;

}
.mau-estado p
{
    text-align: center;

}
#mau-estado
{
    font-size: 24px;
    font-weight: bold;
    color:#10cfc9;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#nome-marca
{
    font-size: 15px;
    font-weight: bold;
    color:#10cfc9;
    display: flex;
    margin-top: 5px;
}
#nome-modelo
{
    font-size: 15px;
    font-weight: bold;
    color:#10cfc9;
    display: flex;
    margin-top: 5px;
}
#nome-marca1
{
    font-size: 15px;
    font-weight: bold;
    color:#10cfc9;
    display: flex;
    margin-top: 5px;
}
#nome-modelo1
{
    font-size: 15px;
    font-weight: bold;
    color:#10cfc9;
    display: flex;
    margin-top: 5px;
}
#nome-marca2
{
    font-size: 15px;
    font-weight: bold;
    color:#10cfc9;
    display: flex;
    margin-top: 5px;
}
#nome-modelo2
{
    font-size: 15px;
    font-weight: bold;
    color:#10cfc9;
    display: flex;
    margin-top: 5px;
}

.bom-estado
{
    background-color:#f1f1f1 ;
    padding: 10px;
    height: 200px;
    width: 150px;
    border-radius: 20px;
    border: 5px solid white;
    cursor: pointer;
}
.bom-estado:hover
{
    border: 5px solid #10cfc9;

}
.bom-estado p
{
    text-align: center;

}
#bom-estado
{
    font-size: 24px;
    font-weight: bold;
    color:#10cfc9;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.muito-bom-estado
{
    background-color:#f1f1f1 ;
    padding: 10px;
    height: 200px;
    width: 150px;
    border-radius: 20px;
    border: 5px solid white;
    cursor: pointer;
}
.muito-bom-estado:hover
{
    border: 5px solid #10cfc9;

}
.muito-bom-estado p
{
    text-align: center;

}
#muito-bom-estado
{
    font-size: 24px;
    font-weight: bold;
    color:#10cfc9;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.financiamento_calculo
{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.financiamento-calculo
{
    background-color:#f1f1f1 ;
    border-radius: 20px;
    width: 400px;
    height: 100px;
    border: 5px solid #10cfc9;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color:#10cfc9 ;
}
.financiamento-calculo:hover
{
    border: 5px solid white;
    background-color:#10cfc9 ;
    color:white

}
#preço_final
{
    font-size: 30px;
    display: flex;
    justify-content: center;
}
#valorFinal
{
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.dinheiro
{
    background-color: #dadada;
}
.dinheiro p
{
    font-weight: bolder;
    font-size: 15px;
}
.dinheiro h2
{
    font-weight: bolder;
    font-size: 30px;
}

.dinheiro-container
{
    width: 1000px;
    margin:auto;
    margin-bottom: 50px;
}
.dinheiro-2
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.dinheiro-3
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.dinheiro-6
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.botaoFinanciamento
{
    display: flex;
    justify-content: center;
}
#v-emprestimo
{
    height: 25px;
    border:2px solid #10cfc9;
}
#v-duracao
{
    height: 25px;
    border:2px solid #10cfc9;
}
#v-inicial
{
    height: 25px;
    border:2px solid #10cfc9;
}
.calcularFinanciamento
{
    background-color: #10cfc9;
    border: 2px solid white;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
.calcularFinanciamento:hover
{
    background-color: white;
    border: 2px solid #10cfc9;
    font-size: 20px;
    color: #10cfc9;
}
#dinheiro-info
{
    width: 1000px;
    margin: auto;
    justify-content: space-between;
}
.opcao1
{
    background-color: gray;
    width: 250px;
    border: 2px solid gray;
    color:white;
    margin-top: 10px;
    border-radius: 20%;
    cursor: pointer;
    margin:10px 10px 10px 10px;
    font-weight: bold;
    text-align: center
}
.opcao1:hover
{
    background-color: white;
    color:gray;
    border: 2px solid gray;
}
/*---------------------------*/
footer
{
    background-color: #101820;
    width: 100%;
    margin-top: auto;
    
}
footer .todasasmarcas
{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1165px;
}
footer ul
{
    list-style: none;
}
footer li
{
    margin-bottom: 5px;
}
footer ul li a
{
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color:white;
}
footer ul li a:hover
{
    text-decoration: underline;
    color: white;
}
footer ul  #titulos
{
    text-decoration: none;
    color:white;
    width: 80px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor:pointer;
} 
footer .marcascima
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
footer .marcasbaixo
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
footer .marcasbaixo ul 
{
    width: 210px;
}
footer .marcascima ul 
{
    width: 200px;
}
footer .semresultados
{
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color:white;
}
footer .titulomarcas
{
    color:white;
    font-weight: bold;
    font-size: 23px;
    margin-top: 40px ;
    margin-bottom: 25px;
    padding-left: 40px;
}

footer .informação ul
{
    list-style: none;
    display: flex;
    height: 80px;
    gap: 20px;
    width: 810px;
    
}

footer .informação ul li a
{
    font-size: 14px;
    font-weight:bold;
    text-decoration: none;
    color: white;
}

footer .informação ul li a:hover
{
    text-decoration:underline;
}

/*bottons dropdown*/
.dropdown_button
{
    color:white;
    background-color: transparent;
    border: 1px solid #fff;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 14px;
    font-family: "spoticar",Arial,sans-serif;
    width: 160px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
}
.icon-button
{
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3.5px;
    -webkit-transform: rotate(45deg);
    margin-left: 5px;
    transform: rotate(225deg);
    margin-top: 6px;
}
.hide
{
    display: none;
}
.footer-list-item a
{
    color: white;
    text-decoration: none;  
}
.footer-list-item a:hover
{
    color: white;
    text-decoration: underline;  
}
.footer-list-item 
{
    list-style: none;
    font-family: "spoticar",Arial,sans-serif;
}
.drop-rotate
{
    transform: rotate(45deg);
    margin-top: 0px;
}
.icon-button1
{
    border: solid white;
    border-width: 0 2px 2px 0;
    padding: 3.5px;
    -webkit-transform: rotate(45deg);
    margin-left: 20px;
    margin-bottom: 0px;
    transform: rotate(225deg);
    width: 2px;
    height: 2px;
    position: absolute;
    bottom: 3px;
}
.dropdown_outros1 
{
    color:white;
    background-color: transparent;
    font-weight: bold;
    font-size: 14px;
    font-family: "spoticar",Arial,sans-serif;
    width: 160px;
    cursor: pointer;
    position: relative;
}
.dropdown_outros1:hover
{
    text-decoration: underline;
}
.hide1
{
    display: none;
}
.drop-rotate1
{
    transform: rotate(45deg);
    margin-bottom: 2px;
}
.icon-button2
{
    border: solid white;
    border-width: 0 2px 2px 0;
    padding: 3.5px;
    -webkit-transform: rotate(45deg);
    margin-left: 20px;
    margin-bottom: 0px;
    transform: rotate(225deg);
    width: 2px;
    height: 2px;
    position: absolute;
    bottom: 3px;
}
.dropdown_outros2
{
    color:white;
    background-color: transparent;
    font-weight: bold;
    font-size: 14px;
    font-family: "spoticar",Arial,sans-serif;
    width: 160px;
    cursor: pointer;
    position: relative;
}
.dropdown_outros2:hover
{
    text-decoration: underline;
}
.hide2
{
    display: none;
}
.drop-rotate2
{
    transform: rotate(45deg);
    margin-bottom: 2px;
}
.icon-button3
{
    border: solid white;
    border-width: 0 2px 2px 0;
    padding: 3.5px;
    -webkit-transform: rotate(45deg);
    margin-left: 20px;
    margin-bottom: 0px;
    transform: rotate(225deg);
    width: 2px;
    height: 2px;
    position: absolute;
    bottom: 3px;
}
.dropdown_outros3
{
    color:white;
    background-color: transparent;
    font-weight: bold;
    font-size: 14px;
    font-family: "spoticar",Arial,sans-serif;
    width: 160px;
    cursor: pointer;
    position: relative;
}
.dropdown_outros3:hover
{
    text-decoration: underline;
}
.hide3
{
    display: none;
}
.drop-rotate3
{
    transform: rotate(45deg);
    margin-bottom: 2px;
}
.icon-button4
{
    border: solid white;
    border-width: 0 2px 2px 0;
    padding: 3.5px;
    -webkit-transform: rotate(45deg);
    margin-left: 20px;
    margin-bottom: 0px;
    transform: rotate(225deg);
    width: 2px;
    height: 2px;
    position: absolute;
    bottom: 3px;
}
.dropdown_outros4
{
    color:white;
    background-color: transparent;
    font-weight: bold;
    font-size: 14px;
    font-family: "spoticar",Arial,sans-serif;
    width: 160px;
    cursor: pointer;
    position: relative;
}
.dropdown_outros4:hover
{
    text-decoration: underline;
}
.hide4
{
    display: none;
}
.drop-rotate4
{
    transform: rotate(45deg);
    margin-bottom: 2px;
}
.icon-button5
{
    border: solid white;
    border-width: 0 2px 2px 0;
    padding: 3.5px;
    -webkit-transform: rotate(45deg);
    margin-left: 20px;
    margin-bottom: 0px;
    transform: rotate(225deg);
    width: 2px;
    height: 2px;
    position: absolute;
    bottom: 3px;
}
.dropdown_outros5
{
    color:white;
    background-color: transparent;
    font-weight: bold;
    font-size: 14px;
    font-family: "spoticar",Arial,sans-serif;
    width: 160px;
    cursor: pointer;
    position: relative;
}
.dropdown_outros5:hover
{
    text-decoration: underline;
}
.hide5
{
    display: none;
}
.drop-rotate5
{
    transform: rotate(45deg);
    margin-bottom: 2px;
}
.icon-button6
{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: none;
    width: 3px;
    height: 3px;
    padding: 3.5px;
    -webkit-transform: rotate(45deg);
    margin-left: auto;
    transform: rotate(45deg);
}
.icon-button7
{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: none;
    width: 3px;
    height: 3px;
    padding: 3.5px;
    -webkit-transform: rotate(45deg);
    margin-left: auto;
    transform: rotate(45deg);
}
.icon-button8
{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: none;
    width: 3px;
    height: 3px;
    padding: 3.5px;
    -webkit-transform: rotate(45deg);
    margin-left: auto;
    transform: rotate(45deg);
}
.icon-button9
{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: none;
    width: 3px;
    height: 3px;
    padding: 3.5px;
    -webkit-transform: rotate(45deg);
    margin-left: auto;
    transform: rotate(45deg);
}
.icon-button10
{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: none;
    width: 3px;
    height: 3px;
    padding: 3.5px;
    -webkit-transform: rotate(45deg);
    margin-left: auto;
    transform: rotate(45deg);
}
.icon-button11
{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: none;
    width: 3px;
    height: 3px;
    padding: 3.5px;
    -webkit-transform: rotate(45deg);
    margin-left: auto;
    transform: rotate(45deg);
}
.icon-button12
{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: none;
    width: 3px;
    height: 3px;
    padding: 3.5px;
    -webkit-transform: rotate(45deg);
    margin-left: auto;
    transform: rotate(45deg);
}
.icon-button13
{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: none;
    width: 3px;
    height: 3px;
    padding: 3.5px;
    -webkit-transform: rotate(45deg);
    margin-left: auto;
    transform: rotate(45deg);
}
.icon-button14
{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: none;
    width: 3px;
    height: 3px;
    padding: 3.5px;
    -webkit-transform: rotate(45deg);
    margin-left: auto;
    transform: rotate(45deg);
}
.icon-button15
{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: none;
    width: 3px;
    height: 3px;
    padding: 3.5px;
    -webkit-transform: rotate(45deg);
    margin-left: auto;
    transform: rotate(45deg);
}
.icon-button16
{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: none;
    width: 3px;
    height: 3px;
    padding: 3.5px;
    -webkit-transform: rotate(45deg);
    margin-left: auto;
    transform: rotate(45deg);
}
.icon-button17
{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: none;
    width: 3px;
    height: 3px;
    padding: 3.5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); 
    margin-left: auto;
}


/*end of dropdowns buttons*/
footer .copyright{
    text-align: center;
    color: white;
    margin: 0;
    margin-top: 40px;
    font-size: 12px;
}

/* RESPONSIVE */
  
@media only screen and (max-width: 1220px) 
{
 
  
    footer .todasasmarcas
    {
        width: 1100px;
    }
}
@media screen and (max-width: 1200px) {
    
    nav {
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        

    }

    nav .bt-menu-mobile{
        display: block;
        border: none;
        background-color : transparent;
        margin-right: 20%;
    }

    nav .bt-menu-mobile{
        font-size: 2em;
        
    }

    nav .mobile-mSelect{
        cursor: pointer;
        margin-left: 20%;
        font-size: 2em;
        display: block;
    }


    .nav-bar.menu-ativo{
        display: block;
    }
    
    .nav-bar{
        display: none;
        position: absolute;
        top: 84px;
        width: 100%;
        z-index: 999;
    }

    .slideshow-container {
        width: 100%;
        font-size: 1em;
      }
    
        
    .nav-bar li{
        display: block;
        background-color: white;
    }   

    .nav-bar li a{
        padding: 20px 0px 20px 10px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .nav-bar li.minha-selecao a::before{
        content: "";
        
    }   

    .nav-bar li a:hover{
        border-bottom-color: #13d0ca;
    }

    .nav-bar li:hover{
        border:none;
    }

    .slideshow-container .areaPessoal{
        top: 20%;
    }
    




    
   

}
@media only screen and (max-width: 1155px) 
{
   
  


    footer .todasasmarcas
    {
        width: 1000px;
    }
    footer .marcasbaixo ul 
    {
        width: 140px;
    }
    footer .marcascima ul 
    {
        width: 140px;
    }
}
@media only screen and (max-width: 1070px) 
{   
    #dinheiro-info
    {
        flex-direction: column;
        margin: auto;
        width:300px;
        justify-content: center;
        align-items: center;
    }
    .dinheiro-container
    {
        width: 900px;
    }
   
   


   
    footer .todasasmarcas
    {
        width: 940px;
    }  
    footer .marcasbaixo ul 
    {
        width: auto ;
        padding-left:0px;
    }
    footer .marcascima ul 
    {
        width: auto;
        padding-left:0px;
    }
    footer .titulomarcas 
    {
        padding-left:0px;
    }
    footer .informação ul 
    {
        padding-left: 0px;
    }
}

@media only screen and (max-width: 1010px) 
{   
    .financiamento-container
    {
        width: 750px;
    }
 
 




    .dropdown_menu5
    {
        display: block;
    }
    .dropdown_menu5 li
    {
        padding: 10px;
    }
    .dropdown_outros5
    {
        display: none;
    }
    .dropdown_menu4
    {
        display: block;
    }
    .dropdown_outros4
    {
        display: none;
    }
    .dropdown_menu3
    {
        display: block;
    }
    .dropdown_outros3
    {
        display: none;
    }
    .dropdown_menu2
    {
        display: block;
    }
    .dropdown_outros2
    {
        display: none;
    }
    .dropdown_menu1
    {
        display: block;
    }
    .dropdown_menu
    {
        display: block;
    }
    .dropdown_button
    {
        display: none;
    }
    .dropdown_outros1
    {
        display: none;
    }
    footer .marcasbaixo
    {
        flex-direction: column;
        margin-bottom: 0px;
    }
    footer .marcascima
    {
        flex-direction: column;
        margin-bottom: 0px;
    }
    .icon-button6
    {
        display: inline-block;

    }
    .hide6
    {
        display: none;
    }
    .dropdown_menu6 li
    {
        padding: 10px;
    }
    .dropdown_menu6 li a:hover
    {
        text-decoration: underline;
    }
    .icon-button7
    {
        display: inline-block;

    }
    .hide7
    {
        display: none;
    }
    .dropdown_menu7 li
    {
        padding: 10px;
    }
    .dropdown_menu7 li a:hover
    {
        text-decoration: underline;
    }
    .icon-button8
    {
        display: inline-block;

    }
    .hide8
    {
        display: none;
    }
    .dropdown_menu8 li
    {
        padding: 10px;
    }
    .dropdown_menu8 li a:hover
    {
        text-decoration: underline;
    }
    .icon-button9
    {
        display: inline-block;

    }
    .hide9
    {
        display: none;
    }
    .dropdown_menu9 li
    {
        padding: 10px;
    }
    .dropdown_menu9 li a:hover
    {
        text-decoration: underline;
    }
    .icon-button10
    {
        display: inline-block;

    }
    .hide10
    {
        display: none;
    }
    .dropdown_menu10 li
    {
        padding: 10px;
    }
    .dropdown_menu10 li a:hover
    {
        text-decoration: underline;
    }
    .icon-button11
    {
        display: inline-block;

    }
    .hide11
    {
        display: none;
    }
    .dropdown_menu11 li
    {
        padding: 10px;
    }
    .dropdown_menu11 li a:hover
    {
        text-decoration: underline;
    }
    .icon-button12
    {
        display: inline-block;

    }
    .hide12
    {
        display: none;
    }
    .dropdown_menu12 
    {
        padding: 10px;
    }
    .icon-button13
    {
        display: inline-block;

    }
    .hide13
    {
        display: none;
    }
    .dropdown_menu13 li
    {
        padding: 10px;
    }
    .dropdown_menu13 li a:hover
    {
        text-decoration: underline;
    }
    .icon-button14
    {
        display: inline-block;

    }
    .hide14
    {
        display: none;
    }
    .dropdown_menu14 li
    {
        padding: 10px;
    }
    .dropdown_menu14 li a:hover
    {
        text-decoration: underline;
    }
    .icon-button15
    {
        display: inline-block;

    }
    .hide15
    {
        display: none;
    }
    .dropdown_menu15 li
    {
        padding: 10px;
    }
    .dropdown_menu15 li a:hover
    {
        text-decoration: underline;
    }
    .icon-button16
    {
        display: inline-block;

    }
    .hide16
    {
        display: none;
    }
    .dropdown_menu16 li
    {
        padding: 10px;
    }
    .dropdown_menu16 li a:hover
    {
        text-decoration: underline;
    }
    .icon-button17
    {
        display: inline-block;

    }
    .hide17
    {
        display: none;
    }
    .dropdown_menu17 li
    {
        padding: 10px;
    }
    .dropdown_menu17 li a:hover
    {
        text-decoration: underline;
    }
    footer ul  #titulos
    {
        width: auto;
        border-bottom: 2px solid white;
        padding: 10px;
        margin: 0px;
        display: flex;
        cursor: pointer;
    }
    footer ul li a:hover
    {
        text-decoration: none;
 
    }
    footer .informação ul
    {
        flex-direction: column;
        height:auto;
        width: auto;
        padding: 10px;
        gap:30px;
    }
    footer .todasasmarcas
    {
       width: 750px;
    }
    footer .marcascima ul
    {
        margin: 0;
    }
    footer .marcasbaixo ul
    {
        margin: 0;
    }
    footer li 
    {
        margin:0;
    }
    footer .informação
    {
        margin-top: 30px;

    }
    .boxIcon2
    {
        width: 17px;
        height: 17px;
        background-color: transparent;
        margin-left: auto;
        margin-bottom: 0px;
        margin-top: 3px;
    }
    .boxIcon2 .square2
    {
        width: 3px;
        height: 3px;
        background-color: white;
        float: left;
        margin: 1px;
    }
    .Icon3
    {
        display: none;
    }
    .boxIcon3
    {
        width: 17px;
        height: 17px;
        background-color: transparent;
        margin-left: auto;
        margin-bottom: 0px;
        margin-top: 3px;
    }
    .boxIcon3 .square3
    {
        width: 3px;
        height: 3px;
        background-color: white;
        float: left;
        margin: 1px;
    }
    .Icon4
    {
        display: none;
    }
    .boxIcon4
    {
        width: 17px;
        height: 17px;
        background-color: transparent;
        margin-left: auto;
        margin-bottom: 0px;
        margin-top: 3px;
    }
    .boxIcon4 .square4
    {
        width: 3px;
        height: 3px;
        background-color: white;
        float: left;
        margin: 1px;
    }
    .Icon5
    {
        display: none;
    }
    .boxIcon5
    {
        width: 17px;
        height: 17px;
        background-color: transparent;
        margin-left: auto;
        margin-bottom: 0px;
        margin-top: 3px;
    }
    .boxIcon5 .square5
    {
        width: 3px;
        height: 3px;
        background-color: white;
        float: left;
        margin: 1px;
    }
    .Icon6
    {
        display: none;
    }
    .boxIcon6
    { 
        width: 17px;
        height: 17px;
        background-color: transparent;
        margin-left: auto;
        margin-bottom: 0px;
        margin-top: 3px;
    }
    .boxIcon6 .square6
    {
        width: 3px;
        height: 3px;
        background-color: white;
        float: left;
        margin: 1px;
    }
    .Icon7
    { 
        display: none;
    }
    .boxIcon7
    {
        width: 17px;
        height: 17px;
        background-color: transparent;
        margin-left: auto;
        margin-bottom: 0px;
        margin-top: 3px;
    }
    .boxIcon7 .square7
    {
        width: 3px;
        height: 3px;
        background-color: white;
        float: left;
        margin: 1px;
    }
    .Icon8
    {
        display: none;
    }
    .boxIcon8
    {
        width: 17px;
        height: 17px;
        background-color: transparent;
        margin-left: auto;
        margin-bottom: 0px;
        margin-top: 3px;
    }
    .boxIcon8 .square8
    {
        width: 3px;
        height: 3px;
        background-color: white;
        float: left;
        margin: 1px;
    }
    .Icon9
    {
        display: none;
    }
    .boxIcon9
    {
        width: 17px;
        height: 17px;
        background-color: transparent;
        margin-left: auto;
        margin-bottom: 0px;
        margin-top: 3px;
    }
    .boxIcon9 .square9
    {
        width: 3px;
        height: 3px;
        background-color: white;
        float: left;
        margin: 1px;
    }
    .Icon10
    {
        display: none;
    }
    .boxIcon10
    {
        width: 17px;
        height: 17px;
        background-color: transparent;
        margin-left: auto;
        margin-bottom: 0px;
        margin-top: 3px;
    }
    .boxIcon10 .square10
    {
        width: 3px;
        height: 3px;
        background-color: white;
        float: left;
        margin: 1px;
    }
    .Icon11
    {
        display: none;
    }
    .boxIcon11
    {
        width: 17px;
        height: 17px;
        background-color: transparent;
        margin-left: auto;
        margin-bottom: 0px;
        margin-top: 3px;
    }
    .boxIcon11 .square11
    {
        width: 3px;
        height: 3px;
        background-color: white;
        float: left;
        margin: 1px;
    }
    .Icon12
    {
        display: none;
    }
    .boxIcon12
    {
        width: 17px;
        height: 17px;
        background-color: transparent;
        margin-left: auto;
        margin-bottom: 0px;
        margin-top: 3px;
    }
    .boxIcon12 .square12
    {
        width: 3px;
        height: 3px;
        background-color: white;
        float: left;
        margin: 1px;
    }
    .Icon13
    {
        display: none;
    }
    .boxIcon13
    {
        width: 17px;
        height: 17px;
        background-color: transparent;
        margin-left: auto;
        margin-bottom: 0px;
        margin-top: 3px;
    }
    .boxIcon13 .square13
    {
        width: 3px;
        height: 3px;
        background-color: white;
        float: left;
        margin: 1px;
    }


}
 
@media only screen and (max-width: 870px) 
{   
    .financiamento-container
    {
        width: 700px;
    }
    .dinheiro-container
    {
        width: 700px;
    }
 
    footer .todasasmarcas
    {
        width: 700px;
    }
 

    
}

@media only screen and (max-width: 810px)
{    
    .financiamento-container
    {
        width: 500px;
    }
    .dinheiro-container
    {
        width: 500px;
    }
  
    
 
 
    footer .todasasmarcas
    {
        width: 550px;
        margin-left: 20px;
        margin: auto;
    }

}

@media only screen and (max-width:650px)
{   
    .financiamento-container
    {
        width: 480px;
    }

    .dinheiro-container
    {
        width: 480px;
    }
  
    footer .todasasmarcas
    {
        width: 500px;
        margin-left: 20px;
    }
  
  
    footer .todasasmarcas
    {
        width: 480px;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 540px) 
{   
    .estados
    {
        flex-direction:column ;
        margin: auto;
    }
    .financiamento-container
    {
        width: 300px;
    }
    .dinheiro-container
    {
        width: 300px;
    }

   
 
  
 
    footer .todasasmarcas
    {
        width: 300px;
    }
} 
@media only screen and (max-width: 500px) 
{   
    .financiamento-container
    {
        width: 270px;
    }
  
 
  
 
    footer .informação ul
    {
        margin: 0;
        width: 270px;
    }
  
  
    footer .todasasmarcas
    {
        width: 270px;
    }
}

@media only screen and (max-width: 378px)
{   
    .financiamento-container
    {
        width: 260px;
    }
  

   

    footer .todasasmarcas
    {
        width: 260px;
    }
}
@media only screen and (max-width: 320px) 
{   
    .financiamento-container
    {
        width: 240px;
    }
    footer .informação ul
    {
        width: 200px;
    }
   
   

    footer .todasasmarcas
    {
        width: 240px;
    }
    .boxIcon5 {
        width: 22px;
        height: 22px;
    }
}
@media only screen and (max-width: 315px) 
{   
  

  
   
   
 
    footer .todasasmarcas
    {
        width: 210px;
    }
}
@media only screen and (max-width: 275px) 
{  
 
    footer .todasasmarcas
    {
        width: 200px;
    }
}
@media only screen and (max-width: 260px) 
{  

    
    footer .informação ul
    {
        width: 120px;
    }
    footer .todasasmarcas
    {
        margin-left: 5px;
    }
    footer .todasasmarcas
    {
        width: 168px;
    }
    footer ul  #titulos
    {
        font-size: 15px;
    }
}
@media only screen and (max-width: 218px) 
{   
 
    footer .todasasmarcas
    {
        width: 130px;
    }
}
